<section class="section col-8">

  <% if member_signed_in? %>
  <div class="card rounded shadow-sm border-1 border-light bg-dark mb-2">
    <div class="card-body p-4">
      <div class="container">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <% end %>

  <% @posts.each do |post| %>

  <div class="card rounded shadow-sm border-1 border-light bg-dark mb-2">
    <div class="card-body p-4">
      <div class="container">
        <h5> <a href="#" class="text-light"><%= post.title %></a></h5>
        <p class="small text-muted font-italic"> <%= post.body %></p>
        <% if member_signed_in? %>
        <p class="smaller text-muted font-italic"><%= post.member.username %></p>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
</section>