<section class="section col-8">

  <div class="card rounded shadow-sm border-1 border-light bg-dark mb-2">
    <div class="card-body p-4">
      <div class="container">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <% @posts.each do |post| %>

  <div class="card rounded shadow-sm border-1 border-light bg-dark mb-2">
    <div class="card-body p-4">
      <div class="container">
        <h5> <a href="#" class="text-light">Awesome product</a></h5>
        <p class="small text-muted font-italic"> <%= post.body %>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="smaller text-muted font-italic">Author</p>
      </div>
    </div>
  </div>

  <% end %>
</section>